/* カラー #D9A62E #555555 #F0F0F0*/

*, *::before, *::after {
  box-sizing: border-box;
}

html,body {
  height: 100%;
}

.wrap-top,
.wrap-products,
.wrap-instagram,
.wrap-info,
.wrap-more-info,
.wrap-footer,
.wrap-gallery {
  width: 100%;
}

/******BASE******/

/* RESET */
body, h1, h2, p, ul, img {
  margin: 0;
  padding: 0;
}

img {
  vertical-align: bottom;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;
  display: block;
}

ul {
  list-style: none;
}

body {
  font-family: ten-mincho, serif;
  font-size: 16px;
  color: #555;
  letter-spacing: 0.05em;

  overflow-y: scroll; /* ← 必要？？auto？ height:100% */
}

.en {
  font-family: 'Open Sans', sans-serif;
}

/* spで非表示にする部分 class="hide" */
.hide {
  display: none
}

/* pcで非表示にする部分 class="hide-pc" */
@media (min-width:800px) {
  .hide-pc {
    display: none;
  }
  .hide {
  display: block;
  }
}
/******BASEおわり！******/

/* ------TOP------ */
.wrap-top {
  background: linear-gradient(0deg, rgba(248,248,248,0) 0%, rgba(248,248,248,0.5) 5%, rgba(249,236,188,0.5) 25%, rgba(247,240,221,0.5) 50%, rgba(248,248,248,0.5) 100%),url(../img/goldwave2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
}

.yellow-top {
  width: 100%;
  height: 2%;
  background: #D9A62E;
}

header {
  width: 100%;
  max-width: 1000px;
  height: 7%;
  min-height: 44px;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(240, 240, 240, .5);

  position: fixed;
  left: 0;
  right: 0;
  z-index: 100;
}

/* sp 閉じるボタンと固定ヘッダーの調整 */
#openHeader.hideMenu {
  z-index: 0;
}

.logo-header {
  height: 74%;
  min-height: 44px;

}
.logo-header img {
  height: 100%;
  display: block;
}

/* ---NAV--- */
.button-nav {
  margin-left: auto;
}

.button-nav #open {
  font-size: 44px;
  display: block;
  cursor: pointer;
}

.button-nav #open.hideMenu {
  display: none;
}

.overlay {
  position: fixed;  
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(245, 236, 224, .96);
  text-align: center;
  padding: 100px 64px 64px;
  pointer-events: none;
  opacity: 0;
  transition: opacity .5s;
}

.overlay.show {
  opacity: 1;
  pointer-events: auto;
}

.overlay #close {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 44px;
  color: #555;
  cursor: pointer;
}

.overlay li {
  margin-top: 24px;
  opacity: 0;
  transform: translateY(16px);
  transition: opacity .3s, transform .3s;
  list-style: none;
}

.overlay.show li {
  opacity: 1;
  transform: none;
}
.overlay.show li:nth-child(1) {
  transition-delay: .1s;
}
.overlay.show li:nth-child(2) {
  transition-delay: .2s;
}
.overlay.show li:nth-child(3) {
  transition-delay: .3s;
}
.overlay.show li:nth-child(4) {
  transition-delay: .4s;
}
.overlay.show li:nth-child(5) {
  transition-delay: .5s;
}


/* ---pc NAV--- */
@media (min-width:800px) {
  /* NAV BASE */
  .pc-menu ul {
  font-weight: 300;
  display: flex;
  justify-content: space-between;
  width: 420px;
  height: 44px;
  line-height: 44px;
  }
  .pc-menu li:not(:nth-of-type(3)) {
    letter-spacing: 0.1em;
  }

  /* ホバーアニメーション */
  nav a:hover {
    font-weight: 400;
  }
  nav a {
    position: relative;
    display: inline-block;
  }

  nav a::after {
    content: '';
    background: #555;
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -8px;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transition: .3s;
  }

  footer nav a::after {
    background: #fff;
  }

  nav a:hover::after {
    bottom: -4px;
    opacity: 1;
    visibility: visible;
  }

  /* NAV header */
  header .pc-menu {
    width: 25%;
    min-width: 420px;
  }

  .container-footer nav img {
    padding: 0;
  }
}

/* ---TOP--- */
.container-top {
  width: 100%;
  height: 100%;
  max-width: 1000px;
  text-align: center;
  color: #D9A62E;
}

.container-top h1 {
  font-family: 'Bebas Neue', cursive;
  font-size: 32px;
  font-weight: normal;
  text-align: center;
  color: #D9A62E;
  margin-top: 30%;
  margin-bottom: 16px;
}

.container-top h1+img {
  width: 46px;
  margin: 0 auto 56px;
  display: block;
}

.sp-instagram p {
  text-align: center;
  margin-bottom: 22px; /* ←公式ガイドライン:ロゴの半分のスペース必要 */
}

.sp-instagram a {
  width: 44px;
  margin: 0 auto;
  cursor: pointer;
}

.arrow-down {
  display: block;
  font-size: 44px;
  text-shadow: 0 1px 4px rgba(0, 0, 0, .1);
  position: absolute;
  bottom: 20%;
  left: 0;
  right: 0;
  margin: auto;
}

/* ----- pc TOP ----- */
@media (min-width:800px) {
  .container-top {
    /* width: 100%; */
    max-width: 1000px;
    margin: 0 auto;
  }

  header {
    max-width: 1000px;
    margin: 0 auto;
  }

  .container-top h1 {
    font-size: 64px;
    margin-top: 30%;
    margin-bottom: 24px;
  }
}

/* ------PRODUCTS------ */
.wrap-products {
  color: #D9A62E;
  text-align: center;
  padding: 32px 20px 56px;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.4) 0%, rgba(247,247,247, .6) 100%),url(../img/washi.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.container-products>p br,
.container-products li br:not(:first-of-type) {
  display:none;
}

.container-products h2 {
  font-size: 24px;
  font-weight: 700;
}

.container-products h2+p {
  margin-top: 8px;
  margin-bottom: 24px;
}

.list-products img {
  display: block;
  margin: 0 auto;
  width: 66%;
}

.list-products h3 {
  font-size: 20px;
  font-weight: 400;
  padding: 8px 0;
  margin: 0;
}

.list-products li {
  margin-top: 40px;
}

.container-annot {
  font-size: 14px;
  margin: 16px auto 0;
  display: inline-block;
  text-align: left;
}

/* ----- pc PRODUCTS ----- */
@media (min-width:800px) {
  .wrap-products>p br,
  .wrap-products li br:not(:first-of-type) {
    display:inline;
  }

  .wrap-products {
    padding: 32px 0px 56px;
  }
  
  .container-products {
    max-width: 1000px;
    margin: 0 auto;
  }

  .wrap-products h2 {
    font-size: 32px;
  }
  
  .wrap-products h2+p {
    margin-top: 40px;
  }
  
  .list-products {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0;
    margin: 0;
  }

  .list-products img {
    margin: 0;
    width: calc((100% - 0.05% / 3));
    max-width: 300px;
    padding: 6px;
    border: 4px solid #D9A62E;
  }
  
  .list-products h3 {
    font-size: 24px;
    margin-bottom: 8px;
  }
  .list-products li {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .list-products p {
    writing-mode:vertical-rl;
    text-orientation: upright;
    text-align: left;
    line-height: 2.5;
  }

  .container-annot {
    font-size: 14px;
    margin: 24px auto 32px;
  }
}

/* -----(pc only) INSTAGRAM----- */
@media (min-width:800px) {
  .wrap-instagram {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.4) 0%, rgba(247,247,247, .6) 100%),url(../img/washi.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    padding-bottom: 54px;
  }
  
  .wrap-gallery {
    height: 191px;
    width: 640px;
    margin: 0 auto;
    position: relative;
  }

  .frame-pc {
    display: block;
    position: absolute;
    left: 80px;
  }

  .wrap-instagram p {
    padding-top: 50px;
    margin-bottom: 22px;
  }

  .wrap-instagram a {
    padding-bottom: 32px;
  }
}

/* ------INFO------ */
.wrap-info {
  background-color: rgb(245, 236, 224);
}

.container-info {
  width: calc(100% - 40px);
  margin: 0 auto;
  padding: 16px 0;
}

.container-info h2 {
  font-size: 24px;
  font-weight: 700;
  color: #D9A62E;
  text-align: center;
  margin-bottom: 8px;
}

.table-info {
  width: auto;
  max-width: 460px;
  margin: 0 auto;
}

.table-info td {
  padding: 3px 3px;
}

.table-info .item {
  max-width: 80px;
  text-align-last: justify; /* Safari No support*/
}

.table-info td:nth-child(even) {
  padding-left: 20px;
}

.table-info tr:last-child {
  font-size: 12px;
  text-align: left;
}

.img-map {
  display: block;
  width: 100%;
  max-width: 460px;
  margin: 16px auto 0;
}

.img-map+p {
  text-align: center;
}

/* ----- pc INFO ----- */
@media (min-width:800px) {

  .container-info {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 56px 20px;
    }
  
  .container-info h2 {
    font-size: 32px;
    margin-bottom: 40px;
  }

  .container-info .pc-l-info {
    display: flex;
  }

  .table-info {
    width: 50%;
    max-width: 500px;
    margin-left: auto;
    margin-right: 40px;
    border-collapse: collapse;
  }

  .table-info tr:not(:last-child) {
    border-color: #D9A62E;
    border-style: solid;
    border-width: 2px 0;
  }

  .table-info .item {
    padding-left: 9%;
  }

  .table-info td:nth-child(even) {
    width: 230px;
    padding-left: 40px;
  }

  .table-info tr:last-child {
    font-size: 12px;
  }
  .pc-l-map {
    width: 50%;
    max-width: 460px;
    margin-left: 40px;
  }

  .img-map {
    margin-top: 0;
  }
}

/* ----- MORE INFO ----- */
.wrap-more-info {
  background-color: rgb(245, 236, 224);
}
.container-more-info {
  width: 100%;
  padding: 0 20px 16px;
  display: flex;
  justify-content: space-between;
}

.container-more-info img {
  display: block;
  width: calc((100% - 8px) / 3);
}

/* ----- pc MORE INFO ----- */
@media (min-width:800px) {
  .container-more-info {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 20px 56px;
  }
  
  .container-more-info img {
    display: block;
    width: calc((100% - 80px) / 3);
    min-width: 260px;
  }
}

/* ----- FOOTER ----- */
.wrap-footer {
  background-color: rgb(245, 236, 224);
}
.container-footer {
  background: #D9A62E;
  width: 100%;
  height: 60px;
}

.container-footer img {
  width: 48px;
  display: block;
  margin: 0 auto;
  padding: 6px 0;
}

.wrap-footer p {
  font-size: 12px;
  text-align: center;
}

/* ----- pc FOOTER ----- */
@media (min-width:800px) {
  .wrap-footer {
    background: #D9A62E;
    position: relative;
  }
  .container-footer {
    max-width: 1000px;
    height: 168px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
  }
  
  .container-footer>img {
    width: 120px;
    height: 120px;
    margin: 24px 0 0;
  }

  footer .pc-menu ul {
    color: #fff;
    margin-top: 24px;
  }


  .wrap-footer p {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0;
    bottom: 4px;
  }
}
